/* Libs */
@import "utils/libs.scss";

/* Utils */
@import 'utils/fonts.scss';
@import 'utils/vars.scss';

/* General */
@import 'block/general.scss';

/* Blocks */
@import "block/logo.scss";
@import "block/social.scss";
@import 'block/header.scss';
@import 'block/hero.scss';
@import 'block/request.scss';
@import 'block/support.scss';
@import 'block/symptoms.scss';
@import 'block/contacts.scss';