section.hero
    .container
        .hero__inner
            .hero__left
                h1.title.hero__title Безкоштовна психологічна підтримка українців
                p.description.hero__description Війна — це тяжко. Дозволь тобі допомогти хоча б ментально
                .hero__request.request.request_align_left
                    p.request__text Залиш заявку на безкоштовну психологічну підтримку вже зараз. Наш спеціаліст вам зателефонує та надасть психологічну допомогу
                    button.button.request__button Отримати консультацію
            .hero__right
                .hero__img-wrapper
                    img.hero__img(src="./img/hero-img.png" alt="hero image")