section.section.support
    .container
        .support__inner
            .support__content
                h2.title.support__title У скрутні часи воїн боронить землю, пекар пече хліб, а психолог не дає зламатися морально
                p.support__text Розпочинаємо безкоштовну програму підтримки для всіх, кому вона потрібна. Ми створили благодійний український проєкт із залученням небайдужих психологів-волонтерів, які справді хочуть допомогти
            .support__img-wrapper
                img.support__img(src="./img/support-img.png" alt="airplane")