section.section.symptoms
    .container
        .symptoms__row
            h2.title.symptoms__title Це нормально, якщо ви
            .symptoms__list
                .symptoms__item
                    img.symptoms__item-img(src="./img/panic.svg" alt="panic")
                    p.symptoms__item-text В паніці, не знаєте, що робити
                .symptoms__item
                    img.symptoms__item-img(src="./img/anxiety.svg" alt="anxiety")
                    p.symptoms__item-text Не можете позбавитись тривоги та стресу
                .symptoms__item
                    img.symptoms__item-img(src="./img/hopeless.svg" alt="hopeless")
                    p.symptoms__item-text Відчуваєте безнадійність
                .symptoms__item
                    img.symptoms__item-img(src="./img/nosleep.svg" alt="no sleep")
                    p.symptoms__item-text Не можете спати та їсти
                .symptoms__item
                    img.symptoms__item-img(src="./img/noground.svg" alt="no ground")
                    p.symptoms__item-text Не відчуваєте ґрунт під ногами
                .symptoms__item
                    img.symptoms__item-img(src="./img/control.svg" alt="control")
                    p.symptoms__item-text Маєте складнощі з контролем почуттів
                .symptoms__item
                    img.symptoms__item-img(src="./img/sad.svg" alt="sad")
                    p.symptoms__item-text Спустошені та відчуваєте сум
                .symptoms__item
                    img.symptoms__item-img(src="./img/talk.svg" alt="talk")
                    p.symptoms__item-text Просто хочете поговорити про болюче
        .symptoms__request-container
            .symptoms__request.request.request_align_left
                img.symptoms__request-img(src="./img/rafiki.png" alt="support help")
                button.button.request__button Отримати консультацію
            .symptoms__text У нас лише #[strong професійні психологи] з великим досвідом роботи. Просто #[strong залишіть заявку] і спеціаліст вам зателефонує та надасть психологічну допомогу